.main {
  background-color: #e9ecef;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans 3", sans-serif;

  section {
    background-color: #ffffff;
    width: 90%;
    max-width: 850px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    gap: 40px;

    img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      object-fit: cover;
      border: 5px solid #00aaff;
    }

    .div {
      ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 15px 0;
        gap: 20px;

        li {
          display: flex;
          align-items: center;
          gap: 8px;
          font-size: 0.9rem;
          color: #000000;

          sgv {
            font-size: 1.2rem;
            color: #2b5a9a;
          }
        }
      }

      h1 {
        font-size: 2rem;
        color: #222;
        margin-bottom: 5px;
      }

      h2 {
        font-size: 1rem;
        color: #278733;
        font-weight: 600;
        margin-bottom: 20px;
      }

      p {
        color: #000000;
        line-height: 1.6;
        margin-bottom: 25px;
        font-size: 0.95rem;
      }

      ul:nth-of-type(1) {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 25px;

        li {
          display: flex;
          align-items: center;
          gap: 8px;
          color: #278733;
          font-size: 0.85rem;
          font-weight: 500;
        }
      }

      ul:nth-of-type(2) {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        li {
          background-color: #d4edda;
          color: #155724;
          padding: 6px 15px;
          border-radius: 50px;
          font-size: 0.75rem;
          font-weight: bold;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .main section {
    flex-direction: column;
    text-align: center;
    padding: 20px;

    .div ul {
      justify-content: center;
    }
  }
}
