.doacaoPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
  background-color: #fff;

  h1 {
    color: #2b5a9a;
    font-size: 3rem;
    margin-bottom: 80px;
    font-weight: bold;
  }
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #122f97;
  text-align: center;
  margin-bottom: 30px;
  min-width: 80px;
  line-height: 1.4;
  max-width: 90%;
}

.containerCards {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 40px;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
}

.card {
  flex: 1;
  min-width: 280px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
}

.card p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #122f97;
  line-height: 1.4;
  margin-bottom: 30px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card h2 {
  color: #122f97;
  font-size: 1.8rem;
  margin: 20px 0;
  min-height: 60px;
  display: flex;
  align-items: center;
}
