.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #205691;
  position: relative;
  padding: 0 20px;

  .imgLogo {
    max-width: 87px;
    max-height: 65.7px;
    width: 100%;
    height: 100%;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;

  .Link {
    padding: 5px 20px;
    font-family: "Sourcs Sans 3", sans-serif;
    color: white;
    font-size: 22px;
    font-weight: 600;
  }
}

.imgUser {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #00aaff;
  cursor: pointer;
}

.navUser {
  position: absolute;
  right: 0;
  top: 5rem;
  background-color: #205691;

  a {
    display: block;
    padding: 5px 10px;
    color: white;
    text-align: start;
  }
}

.closedNavUser {
  display: none;
}

@media (max-width: 400px) {
  .header .imgLogo {
    max-width: 57px;
  }
}
